* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #e2e8f0;
    background: radial-gradient(
    circle at 50% 15%,
    #1e3a8a 0%,
    #0a0f2c 45%,
    #000000 100%
);
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
    height: 1100px;
    background: radial-gradient(circle, rgba(0, 220, 255, 0.45), transparent 60%);
    filter: blur(150px);
    z-index: 0;
}

body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 3px 3px;
    opacity: 0.15;
    z-index: 0;
}
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    backdrop-filter: blur(15px);
    background: rgba(0, 20, 50, 0.3);
    border-bottom: 1px solid rgba(0, 200, 255, 0.2);
}

header img {
    height: 120px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #cbd5e1;
    transition: 0.3s;
}

nav a:hover {
    color: #00f5ff;
}

/* HERO */

.hero {
    text-align: center;
    padding: 140px 20px;
}

.hero h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem;
    background: linear-gradient(90deg, #ffffff, #00eaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 1.1rem;
    color: #94a3b8;
}

.btn {
    padding: 14px 32px;
    background: linear-gradient(90deg, #00f5ff, #0077ff);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 25px rgba(0, 200, 255, 0.8);
    transform: translateY(-3px);
}
/* SECTIONS */

.section {
    padding: 100px 20px;
    text-align: center;
}

.section h2 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 40px;
    font-size: 2rem;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background: rgba(10, 25, 60, 0.6);
    padding: 40px;
    border-radius: 14px;
    width: 300px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 220, 255, 0.3);
    transition: 0.4s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 40px rgba(0, 220, 255, 0.5);
}

.dark {
    background: rgba(124, 58, 237, 0.05);
}

footer {
    padding: 40px;
    text-align: center;
    font-size: 0.9rem;
    color: #64748b;
}
